# Created by .ignore support plugin (hsz.mobi)
/web-app/WEB-INF/classes
/prodDb.*
*Db.properties
*Db.script
/stacktrace.log
/test/reports
/logs
/*.war
/*.zip
/plugin.xml
/plugins
/web-app/plugins
/target
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea
out/

